<div class="container">

  <div *ngIf="user">
    <h3 class="d-flex justify-content-center">Library app for Steps </h3>
    
    <h5>Library management Portal</h5>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <ul class="navbar-nav">


        <li class="nav-item">
          <button routerLink="book" class="m-1 btn btn-light btn-outline-primary" Button>Books </button>
        </li>

        <li class="nav-item">
          <button routerLink="author" class="m-1 btn btn-light btn-outline-primary" Button>Authors </button>
        </li>


        <li class="nav-item">
          <button routerLink="typeBook" class="m-1 btn btn-light btn-outline-primary" Button>Book Types </button>
        </li>


        <li class="nav-item" *ngIf="isAdmin">
          <button routerLink="user" class="m-1 btn btn-light btn-outline-primary" Button>Employees Users </button>
        </li>

        <li *ngIf="user" class="nav-item">
          <button routerLink="login" (click)="logOut()" class="m-1 btn btn-light btn-outline-primary" Button>Logout</button>
        </li>


      </ul>
    </nav>
</div>
  


  <router-outlet> </router-outlet>

</div>